---
layout: main
subtitle: " - about"
activeLink: "about"
---
<h1 class="page-heading">
    about
</h1>

<section class="page-content fs--m">
    <section class="page-content__subsect">
        <h2 class="page-content__subsect-title">a brief history of <span class="strikethrough">time</span> me</h2>

        <div class="page-content__sebsect-content">
            <p>With over 10 years of software application development experience, I have designed, built, and managed a diverse number of products and applications. In combination with an artistic passion for creating 3D environments, I can offer a variety of services and solutions for all of your creative business needs!</p>
        </div>
    </section>
</section>
